!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      You found the treasure!
    %p
      The exact position of the treasure is:
      = @location[0]
      ,
      = @location[1]
